 <table class="table table-striped szures-tabla" id="szures-tabla">
  <thead>
    <tr>
      <th>Sorszám</th>
      <th>Mintavétel dátuma</th>
      <th>Mintavétel helye</th>
      <th>Minta jele</th>
      <th>Minták száma</th>
      <th>Ellenörzött minták száma</th>
    </tr>
  </thead>
  <tbody>
    {{docs}}
    {{#each docs}}
    <tr>
      <td></td>
      <td>{{mintavetel_datuma}}</td>
      <td>{{mintavetel_helye}}</td>
      <td>{{minta_jele}}</td>
      <td>{{mintak_szama}}</td>
      <td>{{ellenorzott_mintak}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<button id="tableExport">Export</button>