<table class="table table-striped szures-tabla" id="szures-tabla">
  <thead>
    <tr>
      <th>Sorszám</th>
      <th>Mintavétel dátuma</th>
      <th>Mintavétel helye</th>
      <th>Minta jele</th>
      <th>Minta bemérése</th>
      <th>Minta visszamérése</th>
    </tr>
  </thead>
  <tbody>
    {{#each docs}}
    <tr>
      <td></td>
      <td>{{mintavetel_datuma}}</td>
      <td>{{mintavetel_helye}}</td>
      <td><a href="" id={{_id}} class="link-to-nedvesseg">{{minta_jele}}</a></td>
      <td>{{minta_bemerese}}</td>
      <td>{{minta_visszamerese}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<button id="tableExport">Export</button>
